body {
  height: 3028px;
  font-weight: 400;
}

/*Общие настройки*/
h1{
  font-size: 100px;
}
h2 {
  font-size: 40px;
  text-align: left;
  line-height: 46.96px;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 2.5px;
}

h4 {
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
}

p li {
  font-size: 18px;
}

.text {
  font-size: 20px;
}

.white {
  color: #fff;
}

.upper-text {
  text-transform: uppercase;
}

.general {
  padding: 0 24px 0 24px;
}

/*Блок header*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.menu {
  display: flex;
  gap: 33px;
  align-items: center;
  list-style-type: circle;
  letter-spacing: 1px;
}

.menu .no-bullet {
  list-style-type: none;
}

.logo-black {
  width: 148px;
  height: 105px;
}

address {
  font-size: 18px;
  line-height: 25px;
  padding-left: 185px;
  font-style: normal;
}

.tel {
  text-underline-offset: 5px;
  text-decoration: underline;
  line-height: 24.3px;
}

/*Секция cover*/
.overlay {
  position: absolute;
  background-color: #00000060;
  inset: 0;
}

.cover {
  height: 757px;
  position: relative;
  padding: 170px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover-title {
  position: relative;
  z-index: 1;  
  letter-spacing: 0.3em;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
  padding-top: 10px;
  padding-left: 30px;
}

.text-right {
  text-align: right;
  padding-top: 17px;
  padding-left: 615px;
}

.cover-description {
  padding-top: 103px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 110px;
}

button {
  width: 256px;
  height: 51px;
  font-size: 22px;
  background-color: transparent; /* Прозрачный фон */
  color: #fff;
  border: 1px solid;
}

/*Секция lots*/
.lots {
  height: 723px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.posicia {
  padding-left: 40px;
}

.more {
  font-size: 20px;
  text-decoration: underline;
}

.card {
  height: 596px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  background-position: center;
  background-size: cover;
}

.lot {
  padding: 48px 40px;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-lot-one {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card-lot-two {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/photo-2.jpg);
  background-position: center;
  background-size: cover;
}

.card-lot-three {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/photo3.jpg);
  background-position: center;
  background-size: cover;
}

/*Секция about*/
.about {
  height: 595px;
  margin-top: 120px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  padding-top: 35px;
}

.item {
  grid-column: 2 / 4;
  align-content: center;
  display: inline;
}

.text-one {
  margin-bottom: 24px;
}

.logo-about {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo-white {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

/*Секция footer*/
.footer {
  margin-top: 180px;
  height: 180px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.address-foot{
  letter-spacing: 1px;
  line-height: 25px;
}

.menu-foot {
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
}

.no-dots {
  list-style: none;
  text-underline-offset: 5px;
}

.socials {
  text-align: right;
}

.icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-left: 45px;
}
